label {
  margin-bottom: 8px;
}

.background-default {
  background-color: rgb(245, 245, 245);
}

.form-control,
.btn {
  box-shadow: none !important;
  outline: none !important;
  border-radius: 5px !important;
}

.card {
  border-radius: 10px;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

.list-items {
  border-radius: 10px;
  padding: 8px;
  cursor: pointer;
  margin: 2px 0px;
}
.list-items:hover {
  background-color: rgba(0, 217, 255, 0.984);
  color: blue;
}

.list-items.active {
    background-color: rgba(0, 217, 255, 0.984);
    color: blue;
  }
  